/* ========= RESET ========= */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ========= VARIÁVEIS ========= */

:root {

}

/* ========= CONFIGURAÇÕES GERAIS ========= */

html {

}

body {

}

/* ========= RESPONSIVIDADE ========= */

@media (max-width:768px){

}